<div class="container mt-2">
  <ng-container *ngIf = "auteur$ | async as listAuteur; else failureOrLoading">
    <div class="card">
      <div class="card-header">Auteur</div>
      <div class="card-body">
        <!--   Avec le searchFormGroup qui a ete declarer dans le composant comme undifined, on fait un *ngIf pour tester     -->
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAuteur()">
            <div class="input-group">
              <label class="input-group-text">Keyword : </label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr>
            <td>ID</td><td>FirstName</td><td>LastName</td><td>Tel</td><td>Email</td><td>Grade</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let a of auteur$ | async">
            <td>{{a.id}}</td>
            <td>{{a.firstName}}</td>
            <td>{{a.lastName}}</td>
            <td>{{a.email}}</td>
            <td>{{a.tel}}</td>
            <td>{{a.grade}}</td>
            <td>
              <button (click)="handleDeleteAuteur(a)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button (click)="handleEditAuteur(a)" class="btn btn-info">
                <i class="bi bi-pen"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <!--  On peut mettre un progressBar    -->
      Loading ......
    </ng-template>
  </ng-template>

</div>
