<div class="container mt-2">
  <!--  <ng-container *ngIf="auteur | async as listCustomers; else failureOrLoading">-->
  <div class="card">
    <div class="card-header">Cours</div>
    <div class="card-body">
      <!--   Avec le searchFormGroup qui a ete declarer dans le composant comme undifined, on fait un *ngIf pour tester     -->
      <div>
        <!--          {{this.searchFormGroup.value | json}}-->
        <!--          <form [formGroup]="" (ngSubmit)="">-->
        <div class="input-group">
          <label class="input-group-text">Keyword : </label>
          <input type="text" formControlName = "keyword" class="form-control">
          <button class="btn btn-info"><i class="bi bi-search"></i></button>
        </div>
        <!--          </form>-->
      </div>
      <table class="table">
        <thead>
        <tr>
          <td>ID</td><td>Title</td><td>Description</td><td>Time</td><td>Credit</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-info">
              <i class="bi bi-pen"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-info">List Support</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--  </ng-container>-->
  <!--  <ng-template #failureOrLoading>-->
  <!--    <ng-container *ngIf="errorMessage; else loading">-->
  <!--      <div class="text-danger">-->
  <!--        {{errorMessage}}-->
  <!--      </div>-->
  <!--    </ng-container>-->
  <!--    <ng-template #loading>-->
  <!--      &lt;!&ndash;  On peut mettre un progressBar    &ndash;&gt;-->
  <!--      Loading ......-->
  <!--    </ng-template>-->
  <!--  </ng-template>-->

</div>
