<div class="container">
  <div class="card col-md-7 offset-3 mt-3">
    <div class="card-header">Update Auteur</div>
    <div class="car-body">
      <form *ngIf="editAuteurFormGroup" [formGroup]="editAuteurFormGroup" (ngSubmit)="handleUpdateAuteur()">
        <div class="mb-3">
          <label class="form-label p-1">ID : </label>
          <label class="form-label" *ngIf="editAuteurFormGroup">{{ this.auteur.id }}</label>
        </div>
        <div class="mb-3 m-2">
          <label class="form-label">First Name : </label>
          <input type="text" formControlName="firstName" class="form-control">
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['firstName'].touched
            && editAuteurFormGroup.controls['firstName'].errors
            && editAuteurFormGroup.controls['firstName'].errors['required']">
              First Name is required
          </span>
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['firstName'].touched
            && editAuteurFormGroup.controls['firstName'].errors
            && editAuteurFormGroup.controls['firstName'].errors['minlength']">
              First Name should be at least 2 characters long
          </span>
        </div>

        <div class="mb-3 m-2">
          <label class="form-label">LastName : </label>
          <input type="text" formControlName="lastName" class="form-control">
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['lastName'].touched
                && editAuteurFormGroup.controls['lastName'].errors
                &&  editAuteurFormGroup.controls['lastName'].errors['lastName']">
            LastName is required
          </span>
        </div>
        <div class="mb-3 m-2">
          <label class="form-label">Tel : </label>
          <input type="text" formControlName="tel" class="form-control">
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['tel'].touched
                          && editAuteurFormGroup.controls['tel'].errors
                          &&  editAuteurFormGroup.controls['tel'].errors['tel']">
                      Phone number is required
                    </span>
        </div>
        <div class="mb-3 m-2">
          <label class="form-label">Email : </label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['email'].touched
                          && editAuteurFormGroup.controls['email'].errors
                          &&  editAuteurFormGroup.controls['email'].errors['email']">
                      Email is not valid
                    </span>
        </div>
        <div class="mb-3 m-2">
          <label class="form-label">Grade :</label>
          <select formControlName="grade" class="form-select">
            <option [value]="null" selected disabled>-- Choose grade --</option>
            <option value="ASSISTANT">Assistant</option>
            <option value="CHARGE_DE_COURS">Chargé de cours</option>
            <option value="MAITRE_DE_CONFERENCE">Maître de conférence</option>
            <option value="PROFESSEUR">Professeur</option>
          </select>
          <span class="text-danger" *ngIf="editAuteurFormGroup.controls['grade'].touched
              && editAuteurFormGroup.controls['grade'].errors
              && editAuteurFormGroup.controls['grade'].errors['required']">
            grade is required
          </span>
        </div>

        <button [disabled]="!editAuteurFormGroup.valid" class="btn btn-success m-2">Update</button>
      </form>
    </div>
  </div>
</div>
